<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Smart E-Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Register for Smart E-Learning</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="messages">
          {% for category, msg in messages %}
            <div class="flash {{ category }}">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <main>
        <form action="/register" method="POST" class="form-box">
            <label>Full Name:</label>
            <input type="text" name="fullname" required>

            <label>Email:</label>
            <input type="email" name="email" required>

            <label>Password:</label>
            <input type="password" name="password" required>

            <label>Confirm Password:</label><br>
            <input type="password" name="confirm_password" placeholder="Re-enter password" required><br><br>


            <button type="submit" class="btn">Register</button>
        </form>
    </main>

    <footer>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </footer>
</body>
</html>
